name: pull requests

# Credit: https://github.com/github/docs/blob/main/.github/workflows/notify-when-maintainers-cannot-edit.yaml

on:
  workflow_call:

jobs:
  draft:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            const repo = context.repo.repo;
          
            const query = `
              query($number: Int!) {
                repository(owner: "laravel", name: "${repo}") {
                  pullRequest(number: $number) {
                    headRepositoryOwner {
                      login
                    }
                    isDraft
                    state
                  }
                }
              }
            `;

            const pullNumber = context.issue.number;
            const variables = { number: pullNumber };

            try {
              console.log(`Check is pull request is submitted as draft ...`);

              const result = await github.graphql(query, variables);

              console.log(JSON.stringify(result, null, 2));

              const pullRequest = result.repository.pullRequest;

              if (pullRequest.headRepositoryOwner.login === 'laravel') {
                console.log('PR owned by laravel');

                return;
              }

              if (pullRequest.state !== 'OPEN') {
                console.log('PR has already been closed or merged');

                return;
              }

              if (pullRequest.isDraft) {
                console.log('PR not owned by Laravel and is submitted as a draft');

                await github.rest.issues.createComment({
                  issue_number: pullNumber,
                  owner: 'laravel',
                  repo: context.repo.repo,
                  body: "Thanks for submitting a PR!\n\nPlease note that draft PR's are not reviewed. If you'd like a review, please mark your pull request as ready in the GitHub user interface.\n\nShould your pull request remain a draft for too long, we may close it due to inactivity."
                });
              }
            } catch(e) {
              console.log(e);
            }

  uneditable:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            const repo = context.repo.repo;
          
            const query = `
              query($number: Int!) {
                repository(owner: "laravel", name: "${repo}") {
                  pullRequest(number: $number) {
                    headRepositoryOwner {
                      login
                    }
                    maintainerCanModify
                    state
                  }
                }
              }
            `;

            const pullNumber = context.issue.number;
            const variables = { number: pullNumber };

            try {
              console.log(`Check for maintainer edit access ...`);

              const result = await github.graphql(query, variables);

              console.log(JSON.stringify(result, null, 2));

              const pullRequest = result.repository.pullRequest;

              if (pullRequest.headRepositoryOwner.login === 'laravel') {
                console.log('PR owned by laravel');

                return;
              }

              if (pullRequest.state !== 'OPEN') {
                console.log('PR has already been closed or merged');

                return;
              }

              if (! pullRequest.maintainerCanModify) {
                console.log('PR not owned by Laravel and does not have maintainer edits enabled');

                await github.rest.issues.createComment({
                  issue_number: pullNumber,
                  owner: 'laravel',
                  repo: context.repo.repo,
                  body: "Thanks for submitting a PR!\n\nIn order to review and merge PRs most efficiently, we require that all PRs grant maintainer edit access before we review them. For information on how to do this, [see the relevant GitHub documentation](https://docs.github.com/en/github/collaborating-with-pull-requests/working-with-forks/allowing-changes-to-a-pull-request-branch-created-from-a-fork). Additionally, GitHub doesn't allow maintainer permissions from organization accounts. Please resubmit this PR from a personal GitHub account with maintainer permissions enabled."
                });

                await github.rest.pulls.update({
                  pull_number: pullNumber,
                  owner: 'laravel',
                  repo: context.repo.repo,
                  state: 'closed'
                });
              }
            } catch(e) {
              console.log(e);
            }
